.text-area {
  resize: vertical;
  background-color: transparent;
  min-block-size: 3em;
  max-block-size: 10em;
  padding: 0.5em;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;

  &:focus {
    outline: 2px solid var(--color-primary-outline);
  }
}
